*{
    background-color: antiquewhite;
}

h1{
    text-align: center;
    Space:5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.formulario{
    text-align: justify;
    background-color:beige;
}

